
export(GeomTimeline)
export(GeomTimelineLabel)
export(eq_clean_date)
export(eq_clean_location)
export(eq_create_label)
export(eq_map)
export(geom_timeline)
export(geom_timeline_label)
import(dplyr)
import(ggplot2)
import(grid)
import(leaflet)
import(stringr)
